<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUZMDjMKK58Uu3Y_oYEzsQP0L3sNKT-f8</string>
	<key>GCM_SENDER_ID</key>
	<string>330981722893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgvdev.Pushed</string>
	<key>PROJECT_ID</key>
	<string>pushed-46b4e</string>
	<key>STORAGE_BUCKET</key>
	<string>pushed-46b4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330981722893:ios:d59f974b564e769590be44</string>
</dict>
</plist>